div {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  margin-bottom: 1rem;
  margin-left: 2rem;
  display: flex;
}

button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  border: 0;
  padding: 1rem;
  background-color: burlywood;
  cursor: pointer;
}
